h1{
    color: orange;
    font-size: 30px;
}

body {    
    /*background-image: url("https://wallpaperaccess.com/full/628286.jpg");*/
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
}

p{
    border: 5px solid red;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    }    
li {
    float: left;}      
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}      
li a:hover {
    background-color: black;
    color: white;}    
li a.active {
    background-color: #4CAF50;
    color: white;}

label{
    font-size: 80px;
    background-color: rgba(0,0,0,.01);
    color: orange;
}




.e:hover{
    color:blue;
}
.o:hover{
    color:blue;
}
.y:hover{
    color:blue;
}
.z:hover{
    color:blue;
}
.y:hover{
    color:blue;
}
.c:hover{
    color:blue;
}



