h1{
    color: orange;
    font-size: 30px;
}

body {    
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.artsy.net%2Farticle%2Fartsy-editorial-story-worlds-famous-desktop-background&psig=AOvVaw3aaQazs5Z7V3VS9c6REmON&ust=1622864452376000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCX-7CH_fACFQAAAAAdAAAAABAD");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    font-size: 30px;
}

p{
    border: 5px solid red;
    background:rgba(255,255,255, 0.3);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    }    
li {
    float: left;}      
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}      
li a:hover {
    background-color: black;
    color: white;}    
li a.active {
    background-color: #4CAF50;
    color: white;}

label{
    font-size: 80px;
    background-color: rgba(0,0,0,.01);
    color: orange;
}




.e:hover{
    color:blue;
}
.o:hover{
    color:blue;
}
.y:hover{
    color:blue;
}
.z:hover{
    color:blue;
}
.y:hover{
    color:blue;
}
.c:hover{
    color:blue;
}
